<strong>Olá, {{{ entregador }}}</strong>
<p>Houve um cancelamento de encomenda, confira os detalhes abaixo:</p>
<p>
    <strong>Encomenda: </strong> {{{ nomeProduto }}} <br/>
    <strong>Data/hora: </strong> {{{ dataCancelamento }}} <br/>
    <br/>
    <small>Mais detalhes na empresa</small>
</p>
