<strong>Olá, {{{ entregador }}}</strong>
<p>Nova encomenda cadastrada, confira os detalhes abaixo:</p>
<p>
    <strong>Encomenda: </strong> {{{ nomeProduto }}} <br/>
    <br/>
    <small>Mais detalhes na empresa</small>
</p>
